body {
    font-family: Arial, sans-serif;
    background-color: #a7a7a7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.poll-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

label {
    font-size: 1rem;
}

#pollResults {
    margin-top: 20px;
}

#pollResults h3 {
    color: #007BFF;
}
